@media screen and (max-width: 599px){
    :local(.sidePanel) {
        width: auto;
        position: absolute;
        top: 20px;
        z-index: 49;
        left: 60px;
    }

    :local(.minifiedSidePanel) {
        width: 50px;
        position: relative;
        top: 0;
        left: 0;
        border-right: 1px solid #2c2541;
    }

    :local(.sidePanelExpanderContainer) {
        display: none;
        width: 22px;
        height: 22px;
        position: absolute;
        right: -25px;
        top: 20px;
        cursor: pointer;
        border: 1px solid;
        border-color: #2c2541 #2c2541 #2c2541 transparent;
    }

    :local(.sidePanelExpander) {
        content: '';
        border-width: 6px 8px;
        border-color: transparent #dad8de transparent transparent;
        border-style: solid;
        display: inline-block;
        position: absolute;
        top: 5px;
        left: -2px;
    }

    :local(.minifiedSidePanelExpander) {
        content: '';
        border-width: 6px 8px;
        border-color: transparent transparent transparent #dad8de;
        border-style: solid;
        display: inline-block;
        position: absolute;
        top: 5px;
        right: -2px;
    }

    :local(.twitchLogin) {
        margin: 40px 0;
        border-radius: 4px;
        background: #6542a6;
        border: none;
        outline: none;
        display: flex;
        flex: 0 0 auto;
        height: 36px;
        width: 91px;
        padding: 1px 10px;
        cursor: pointer;
        overflow: hidden;
    }

    :local(.minimizedTwitchLogin) {
        margin: 20px 0;
        border-radius: 4px;
        background: #6542a6;
        border: none;
        outline: none;
        display: flex;
        flex: 0 0 auto;
        height: 36px;
        width: 91px;
        padding: 1px 10px;
        cursor: pointer;
        overflow: hidden;
    }

    :local(.twitchLogin:hover) {
        background: #7955bc;
        transition: background .25s ease-in-out;
    }

    :local(.minimizedTwitchLogin:hover) {
        background: #7955bc;
        transition: background .25s ease-in-out;
    }

    :local(.twitchLogo) {
        color: #FFFFFF;
        padding-top: 2px;
        font-size: .95rem;
    }

    :local(.buttonText) {
        margin-left: 10px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: .95rem;
        letter-spacing: .85px;
    }

    :local(.followedContainer) {
        overflow: hidden;
        width: 275px;
        display: inline-block;
    }

    :local(.minimizedFollowContainer) {
        overflow: hidden;
    }

    :local(.followingLabel) {
        color: #7d5bbe;
        height: 40px;
        width: 240px;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 700;
        position: relative;
        font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        opacity: 1;
        display: none;
    }

    :local(.minimizedFollowingLabel) {
        display: none;
    }

    :local(.followerIcon) {
        color: #43366a;
        font-size: 1.65rem;
        margin: 9px 0 0 11px;
    }

    :local(.followerIconContainer) {
        width: 50px;
        height: 40px;
        border-bottom: 1px solid #2c2541;
        display: inline-block;
        opacity: 1;
        transition-delay: 1s;
    }
}

@media screen and (max-width: 767px) and (min-width: 600px) {
    :local(.sidePanel) {
        width: auto;
        position: absolute;
        top: 0;
        z-index: 1000;
        left: calc(100% - 350px);
    }

    :local(.minifiedSidePanel) {
        width: 50px;
        position: relative;
        top: 0;
        left: 0;
        border-right: 1px solid #2c2541;
    }

    :local(.sidePanelExpanderContainer) {
        display: none;
        width: 22px;
        height: 22px;
        position: absolute;
        right: -25px;
        top: 20px;
        cursor: pointer;
        border: 1px solid;
        border-color: #2c2541 #2c2541 #2c2541 transparent;
    }

    :local(.sidePanelExpander) {
        content: '';
        border-width: 6px 8px;
        border-color: transparent #dad8de transparent transparent;
        border-style: solid;
        display: inline-block;
        position: absolute;
        top: 5px;
        left: -2px;
    }

    :local(.minifiedSidePanelExpander) {
        content: '';
        border-width: 6px 8px;
        border-color: transparent transparent transparent #dad8de;
        border-style: solid;
        display: inline-block;
        position: absolute;
        top: 5px;
        right: -2px;
    }

    :local(.twitchLogin) {
        margin: 40px 0;
        border-radius: 4px;
        background: #6542a6;
        border: none;
        outline: none;
        display: flex;
        flex: 0 0 auto;
        height: 36px;
        width: 91px;
        padding: 1px 10px;
        cursor: pointer;
        overflow: hidden;
    }

    :local(.minimizedTwitchLogin) {
        margin: 20px 0;
        border-radius: 4px;
        background: #6542a6;
        border: none;
        outline: none;
        display: flex;
        flex: 0 0 auto;
        height: 36px;
        width: 91px;
        padding: 1px 10px;
        cursor: pointer;
        overflow: hidden;
    }

    :local(.twitchLogin:hover) {
        background: #7955bc;
        transition: background .25s ease-in-out;
    }

    :local(.minimizedTwitchLogin:hover) {
        background: #7955bc;
        transition: background .25s ease-in-out;
    }

    :local(.twitchLogo) {
        color: #FFFFFF;
        padding-top: 2px;
        font-size: .95rem;
    }

    :local(.buttonText) {
        margin-left: 10px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: .95rem;
        letter-spacing: .85px;
    }

    :local(.followedContainer) {
        overflow: hidden;
        width: 275px;
        display: inline-block;
    }

    :local(.minimizedFollowContainer) {
        overflow: hidden;
    }

    :local(.followingLabel) {
        color: #7d5bbe;
        height: 40px;
        width: 240px;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 700;
        position: relative;
        font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        opacity: 1;
        display: none;
    }

    :local(.minimizedFollowingLabel) {
        display: none;
    }

    :local(.followerIcon) {
        color: #43366a;
        font-size: 1.65rem;
        margin: 9px 0 0 11px;
    }

    :local(.followerIconContainer) {
        width: 50px;
        height: 40px;
        border-bottom: 1px solid #2c2541;
        display: inline-block;
        opacity: 1;
        transition-delay: 1s;
    }
}

@media screen and (min-width: 768px) {
    :local(.sidePanel) {
        width: 240px;
        position: relative;
        top: 0;
        left: 0;
        border-right: 1px solid #2c2541;
        transition: width 1s ease-in-out;
    }

    :local(.minifiedSidePanel) {
        width: 50px;
        position: relative;
        top: 0;
        left: 0;
        border-right: 1px solid #2c2541;
        transition: width 1s ease-in-out;
    }

    :local(.sidePanelExpanderContainer) {
        display: inline-block;
        width: 22px;
        height: 22px;
        position: absolute;
        right: -25px;
        top: 20px;
        cursor: pointer;
        border: 1px solid;
        border-color: #2c2541 #2c2541 #2c2541 transparent;
    }

    :local(.sidePanelExpander) {
        content: '';
        border-width: 6px 8px;
        border-color: transparent #dad8de transparent transparent;
        border-style: solid;
        display: inline-block;
        position: absolute;
        top: 5px;
        left: -2px;
    }

    :local(.minifiedSidePanelExpander) {
        content: '';
        border-width: 6px 8px;
        border-color: transparent transparent transparent #dad8de;
        border-style: solid;
        display: inline-block;
        position: absolute;
        top: 5px;
        right: -2px;
    }

    :local(.twitchLogin) {
        margin: 30px auto 0 auto;
        border-radius: 4px;
        background: #6542a6;
        border: none;
        outline: none;
        display: flex;
        flex: 0 0 auto;
        height: 36px;
        width: 91px;
        padding: 1px 10px;
        cursor: pointer;
        transition: background .25s ease-in-out, width 1s ease-in-out;
        overflow: hidden;
    }

    :local(.minimizedTwitchLogin) {
        width: 34px;
        transition: background .25s ease-in-out, width 1s ease-in-out;
        margin: 20px auto;
        border-radius: 4px;
        background: #6542a6;
        border: none;
        outline: none;
        display: flex;
        flex: 0 0 auto;
        height: 36px;
        padding: 1px 10px;
        cursor: pointer;
        overflow: hidden;
    }

    :local(.twitchLogin:hover) {
        background: #7955bc;
        transition: background .25s ease-in-out;
    }

    :local(.minimizedTwitchLogin:hover) {
        background: #7955bc;
        transition: background .25s ease-in-out;
    }

    :local(.twitchLogo) {
        color: #FFFFFF;
        padding-top: 2px;
        font-size: .95rem;
    }

    :local(.buttonText) {
        margin-left: 10px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: .95rem;
        letter-spacing: .85px;
    }

    :local(.followedContainer) {
        overflow: hidden;
    }

    :local(.minimizedFollowContainer) {
        overflow: hidden;
    }

    :local(.followingLabel) {
        color: #7d5bbe;
        height: 40px;
        width: 240px;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 700;
        position: relative;
        font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        opacity: 1;
        transition: opacity 1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out;
    }

    :local(.followingLabel:after) {
        content: '';
        position: absolute;
        display: inline-block;
        width: 220px;
        bottom: 8px;
        left: 10px;
        height: 1px;
        background: #b19dd8;
    }

    :local(.minimizedFollowingLabel) {
        display: none;
    }

    /*:local(.minimizedFollowingLabel:after){
        content: '';
        position: absolute;
        display: block;
        width: 30px;
        bottom: 8px;
        left: 10px;
        height: 1px;
        background: #b19dd8;
    }*/
    :local(.followerIcon) {
        color: #43366a;
        font-size: 1.65rem;
        margin: 9px 0 0 11px;
    }

    :local(.followerIconContainer) {
        width: 50px;
        height: 40px;
        border-bottom: 1px solid #2c2541;
        display: inline-block;
        opacity: 1;
        transition: opacity 1s ease-in-out;
        transition-delay: 1s;
    }

}

