:local(.activationDiv){
    padding: 40px 50px;
}

:local(.activationMessage){
    width: 350px;
    text-align: center;
    padding-bottom: 20px;
}

:local(.activationButtonDiv){
    width: 350px;
    text-align: center;
}

:local(.confirmationMessage){
    padding-top: 20px;
    color: #00b049;
}

:local(.confirmationMessage i){
    color: black;
}

:local(.incorrectMessage){
    padding-top: 20px;
    color: #d7232a;
}

:local(.incorrectMessage a){
    text-decoration: underline;
    color: #d75f5c;
    cursor: pointer;
}
